---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import LoginComponent from "../components/LoginComponent";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en" data-theme="retro">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		
		{/* Contenedor principal centrado y con padding */}
		<div class="container mx-auto px-4 py-12">
				
			<h1 class="text-3xl font-bold mb-4">
				{/* Título con clases de Tailwind y color de daisyUI */}
				Ejemplo
			</h1>
			
			<div class="p-6 rounded-lg bg-base-200">
				<LoginComponent    client:load ></LoginComponent>
			</div>
		</div>
		
		<Footer />
	</body>
</html>
