---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import PreactFormComponent from "../components/PreactFormComponent.jsx";

const x = "mundo";
---

<!doctype html>
<html lang="en" data-theme="cyberpunk">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main style="margin:30px;">
            <h1>Hola {x}</h1>
            <hr>
            <PreactFormComponent client:load></PreactFormComponent>
        </main>
    </body>
</html>
